@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /* Font Lobster */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap'); /* Font young serif */

html {
    font-family: "Young serif";
    background: url(wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box {
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.8);
    max-width: 1000px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
}

h1 {
    font-family: "Lobster";
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    border-bottom: 1px solid black;
    padding: 5px;
}

#nama {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
#namabuku {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
.tanggal {
    display: flex;
}
#tanggalpinjam {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
#tanggalbalik {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
#petugas {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
#keterangan {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.tmblTambah {
    background-color: #f0ad4e;
    color: white;
    padding: 14px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-family: "young serif";
}
.tmblTambah:hover {
    background-color: #c68e40;
}

.tmblEdit {
    background-color: rgb(34, 96, 203);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "young serif";
}
.tmblEdit:hover {
    background-color: rgb(33, 45, 113);
}

.tmblHapus {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "young serif";
}
.tmblHapus:hover {
    background-color: #8b2a23;
}

#tablePeminjaman {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
#tablePeminjaman td, #tablePeminjaman th {
    border: 1px solid rgb(221,221,221);
    padding: 10px;
}

#tablePeminjaman th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(209,70,51);
    color: white;
}

#tablePeminjaman td {
    background-color: rgba(240, 248, 255, 0.8);
}